/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*******************************************/
/*RESET*/
/*******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*******************************************/
/*MAIN*/
/*******************************************/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }


/*******************************************/
/*BODY WRAPS*/
/*******************************************/


body {
    background: url('../img/body-background.jpg') no-repeat fixed;
    height: 100%;
    font-family: arial,sans-serif; 
}

.layout-wrap{
	width: 100%;
	max-width: 1200px;
	min-width: 640px;
	height: 100%;
	margin:0 auto;
}

.page-body{
	background:linear-gradient(to bottom, rgba(112,112,112,1) 0%,rgba(10,10,10,0.2) 100%) ;
	
	height: 100%;
}

/*******************************************/
/*HEADER SECTION*/
/*******************************************/

header{
	width: 100%;
	height: 70px;
	background-color: black;
}



header .layout-wrap form, header .layout-wrap img{
	margin:1em
}

.search-box{
	float: right;
}

input[type="search"]{
	height: 30px;
}



.notifications{
	background-color:#ebebeb;
	height: 30px;
	margin:1em;

}

/*******************************************/
/*NAVIGATION MENU*/
/*******************************************/

nav{
	position: relative;
	margin:1em;

}

.nav-section{
	width: 33.33%;
	float: left;
	position: relative;
	text-align: center;
	padding-right: 1em;
}

.nav-section:last-of-type{
	padding-right: 0;
}

.nav-section>p{
	display: inline-block;
	width: 100%;
	font-size: 1em;
	padding-top: 1em;
	padding-bottom: 5em;
	color: white;
	background-color: black;
	

}

.nav-section:first-child>p{
	background:  url(../img/icons/action-report-new.png) no-repeat;
	background-position: 50% 75px;
	background-color: black;
}
.nav-section:first-child + .nav-section>p{
	background:  url(../img/icons/action-report-top.png) no-repeat;
	background-position: 50% 75px;
	background-color: black;
}
.nav-section:first-child + .nav-section + .nav-section>p{
	background:  url(../img/icons/actions-help.png) no-repeat;
	background-position: 50% 75px;
	background-color: black;
}


.menu{
	height:auto;
}

.menu-caption{
	background-color: #eeeeee;
	font-size: 0.9em;
	text-align: left;
	text-transform: capitalize;
	padding-left: 1em;
	line-height: 3em;
	color: #333;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .4);
	position: relative;
	z-index: 100;
}

.action-list>li{
	text-align: left;
	background-color:#eeeeee; 
	border-bottom: 1px gray solid ;
	display: none;
	position: relative;
	z-index: 100;
}

.action-list>li>a{
	text-decoration: none;
	line-height: 2.2em;
	padding-left: 1em;
	color: #444;
}

.menu:hover .action-list>li{
	display: block;
	cursor: pointer;
}

.action-list>li:hover{
	background-color: #999;
	cursor: pointer;
}


/*******************************************/
/*TABS MENU*/
/*******************************************/

.tabs{
	display: inline-block;
	margin:0 auto;
	position: absolute;
	top:340px;
	width: 100%;
    max-width: 1200px;
	min-width: 640px;;
	
}

.tabs>ul{
	width: 100%;
	display: inline-block;
  	margin: 0;
  	padding: 0;
  	position: relative;
  	list-style: none;
}

.tabs>ul li{
	float: left;
  	list-style: none;
  	width: 24%;
	margin-right:1.3333%; 
	background-color: #444;
}

.tabs>ul>li:last-of-type{
	margin-right:0; 
}

.tabs>ul li a{
	display: block;
	width: 100%;
	text-decoration: none;
	font-size: 0.8em;
	line-height: 4em;
	text-align: center;
	color: white;
	


}
	
	




